package ${package}.service;

import java.util.Map;

import com.baomidou.mybatisplus.service.IService;
import com.baomidou.mybatisplus.plugins.Page;


import ${package}.entity.${className};
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}>{
    Page<${className}> get${className}ByPage(Page<${className}> page, Map<String, Object> param);
}