package ${package}.service.impl;


import ${package}.dao.${className}Dao;
import com.alibaba.fastjson.JSONObject;
import ${package}.entity.${className};
import ${package}.service.${className}Service;
import com.baomidou.mybatisplus.service.impl.ServiceImpl;
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import com.baomidou.mybatisplus.mapper.Wrapper;
import com.baomidou.mybatisplus.plugins.Page;

import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao,${className}> implements ${className}Service {

    @Autowired
    private ${className}Dao ${classname}Dao;

    @Override
	public Page<${className}> get${className}ByPage(Page<${className}> page, Map<String, Object> param) {
		Wrapper<${className}> wrapper = new EntityWrapper<>();
		List<${className}> tasks = ${classname}Dao.selectList(wrapper);
		page.setRecords(tasks);
		return page;
	}
}